/* src/components/FixedFooter.css */

.fixed-social-footer {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000; /* Поверх усього */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fixed-social-icons a {
    margin-left: 20px;
    font-size: 1.2rem;
    opacity: 0.7;
    transition: opacity 0.3s, color 0.3s;
    font-weight: 400;
    color: #fff; /* Дефолтний колір для темних секцій */
}
.fixed-social-icons a:hover {
    opacity: 1;
}